.dw-counter {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/white-bg-stamps-ezgif.com-webp-to-png-converter.png');
  font-family: 'DefiFont';
  font-size: 300px;
}
